@font-face {
  font-family: 'ws-icons';
  src: url('./ws-icons.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ws-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-layers:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-plugin:before {
  content: "\e902";
}
.icon-press:before {
  content: "\e903";
}
.icon-plus-small:before {
  content: "\e904";
}
.icon-arrow-collapse:before {
  content: "\e905";
}
.icon-arrow-expand:before {
  content: "\e906";
}